<div class="container mt-5">
    <h2>Modifier un Plat</h2>
    <form (ngSubmit)="updatePlat()">
      <div class="mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" id="nom" [(ngModel)]="plat.nom" name="nom" class="form-control" required>
      </div>
  
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" [(ngModel)]="plat.description" name="description" class="form-control" required></textarea>
      </div>
  
      <div class="mb-3">
        <label for="prix" class="form-label">Prix (TND)</label>
        <input type="number" id="prix" [(ngModel)]="plat.prix" name="prix" class="form-control" required>
      </div>
  
      <div class="mb-3">
        <label for="image" class="form-label">URL de l'Image</label>
        <input type="text" id="image" [(ngModel)]="plat.image" name="image" class="form-control" required>
      </div>
  
      <button type="submit" class="btn btn-success">Enregistrer</button>
      <button (click)="cancel()" class="btn btn-secondary ms-2">Annuler</button>
    </form>
  </div>
  